.overflow-y-auto.svelte-1gnzx5v::-webkit-scrollbar {
	width: 4px;
}
.overflow-y-auto.svelte-1gnzx5v::-webkit-scrollbar-track {
	background: transparent;
}
.overflow-y-auto.svelte-1gnzx5v::-webkit-scrollbar-thumb {
	background: hsl(var(--muted-foreground) / 0.3);
	border-radius: 2px;
}
.overflow-y-auto.svelte-1gnzx5v::-webkit-scrollbar-thumb:hover {
	background: hsl(var(--muted-foreground) / 0.5);
}
